{
	"version": "2.0.0",
	"tasks": [
        {
            "type": "shell",
            "command": "gitsync",
            "args": [
                "sync",
                "-u",
                "Администратор",
                "/workspaces/onec-storage",
                "${workspaceRoot}/src"
            ],
            "group": "none",
            "label": "oscript gitsync: sync"
        }
    ]
}
