{
	"version": "2.0.0",
	"tasks": [
        {
            "type": "shell",
            "command": "gitsync",
            "args": [
                "sync",
                "-u",
                "Администратор",
                "~/Documents/_onec_dbs/regex-addin-tests/storage",
                "${workspaceRoot}/src"
            ],
            "group": "none",
            "label": "oscript gitsync: sync"
        }
    ]
}
